<!DOCTYPE html>
html(lang="es")
  head    
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Language", content="es")
    meta(name="Distribution", content="global")
    meta(name="Author", content="Viasoluciones")
    meta(name="Description", content="En esta demo consumiremos la API que conecta a una base de datos de los artesanos")
    link(rel="stylesheet", href="css/materialize.min.css")
    link(rel="stylesheet", href="css/home.css")

    title Api Demo
  body
    main
      .container
        h1 Api Demo
      section
    
    
    
      
    
    script(src="js/jquery.js")
    script(src="js/materialize.min.js")    
    script(src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js")
    
    script(src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js")
    
    script(src="js/app.js")
    
